<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        document.getElementById('preview').src = e.target.result;
      };
      reader.readAsDataURL(input.files[0]);
    } else {
      document.getElementById('preview').src = "";
    }
  }
</script>

<body>
  <h1>게시글 작성 페이지입니다</h1>
  <form method="POST" action="{% url 'post:create_post' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      <input type="text" name="title" id="title" style="width:580px" placeholder="제목을 입력해주세요" />
    </div><br>
    <div style=" width:600px;"">
      <img id="preview" style="width:590px;height:300px;" /><br>
    </div>
    <input type='file' name="image"  multiple onchange="readURL(this);" />
    <div>
      <br>
      <textarea type="content" name="content" id="content" placeholder="여기에 내용을 입력해주세요" cols="80" rows="10"></textarea>
    </div>
    <div>
      <input type='submit' value='작성하기' />
    </div>
  </form>
</body>

</html>